
        <!-- ========== Left Sidebar Start ========== -->
        <div class="left side-menu">
            <div class="slimscroll-menu" id="remove-scroll">

                <!--- Sidemenu -->
                <div id="sidebar-menu">
                    <!-- Left Menu Start -->
                    <ul class="metismenu" id="side-menu">
                        <li class="menu-title">Menu</li>
                        <li>
                            <a routerLink="/dashboard" class="waves-effect mm-active">
                                <i class="icon-accelerator"></i>
                                <span> Dashboard </span>
                            </a>
                        </li>
                          <li>
                            <a routerLink="/reports" class="waves-effect">
                                <i class="icon-accelerator"></i>
                                <span> Reports </span>
                            </a>
                        </li>
                          <li>
                            <a routerLink="/statistics" class="waves-effect">
                                <i class="icon-accelerator"></i>
                                <span> Statistics </span>
                            </a>
                        </li>
                          <li>
                            <a routerLink="/settings" class="waves-effect">
                                <i class="icon-accelerator"></i>
                                <span> Settings </span>
                            </a>
                        </li>

                        

                    </ul>

                </div>
                <!-- Sidebar -->
                <div class="clearfix"></div>

            </div>
            <!-- Sidebar -left -->

        </div>
        <!-- Left Sidebar End -->